form, .form_group
{
    display : flex;
    flex-flow : column nowrap;
}

form
{    
    width : 90vw;
    gap : 25px;
}

form h1, form p
{
    text-align : center;
}

.form_group
{
    gap : 5px;
}

@media screen and (min-width : 50em)
{
    form
    {
        max-width : 50vw;
    }

    form:not(.share_content_page form)
    {
        max-width : 30vw;
    }
}