@font-face
{
  font-family : Azonix;
  src : url(../fonts/Azonix.otf);
  font-weight : normal;
}

*, *::before, *::after
{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

:root
{
  --clr-accent-1 : #FFA500;
  --clr-accent-2 : #55DDE0;

  --clr-neutral-light : #F0F0F0;
  --clr-neutral-dark : #252525;

  --font-family-primary : "Gantari", Arial, sans-serif;
  --font-family-logo : "Azonix", sans-serif;

  --font-family-body : var(--font-family-primary);
  --font-family-accents : var(--font-family-primary);

  --font-weight-regular : 400;
  --font-weight-semi-bold : 500;
  --font-weight-bold : 700;

  --font-size-400 : 1rem;
  --font-size-500 : 1.25rem;
  --font-size-700 : 2rem;
}

body
{
  font-family : var(--font-family-body);
  font-weight : var(--font-weight-regular);
  font-size : var(--font-size-400);
}

.logo
{
  font-family : var(--font-family-logo);
}